<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Users:</h1>
    <ul>
        {% for user in object_list %}
            {% if user == request.user %}
                <li style="color: red"><strong>{{ user.email }}</strong></li>
            {% else %}
                <li>{{ user.email }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'sign up' %}">Sign Up</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>